<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BugTrackingDatabase"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\BugTrackingDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="BugTrackingService.UserManagementService" behaviorConfiguration="UserManagementServiceBehaviour">
        <endpoint address="UserManagementService"
                  binding="netTcpBinding"
                  contract="BugTrackingService.IUserManagementService" />
        <endpoint address="UserManagementService"
                  binding="basicHttpBinding"
                  contract="BugTrackingService.IUserManagementService" />
      </service>
      <service name="BugTrackingService.BugManagementService" behaviorConfiguration="BugManagementServiceBehaviour">
        <endpoint address="BugManagementService"
                  binding="netTcpBinding"
                  contract="BugTrackingService.IBugManagementService" />
        <endpoint address="BugManagementService"
                  binding="basicHttpBinding"
                  contract="BugTrackingService.IBugManagementService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UserManagementServiceBehaviour">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
      <serviceBehaviors>
        <behavior name="BugManagementServiceBehaviour">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    
</configuration>