<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="BugTracker" connectionString="Data Source=D:\GITHUB_REPO\BugTrackingSystem\SOC_WCF_BugTracker\BugTracker\BugTrackingSystem\BugTrackingServiceHost\App_Data\BugTrackingDatabase.mdf;Initial Catalog=BugTracker;Integrated Security=True"/>
    </connectionStrings>
</configuration>